.customer-selection-container-client {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

/* Contenedor interno para el contenido */ 
.content-wrapper-client {
    width: 100%;
    padding: 20px;
    background-color: #F5F5F7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0% 5%;
}



/* Estilo para el título */
.header-client  {
    font-family: Arial, sans-serif ;
    font-weight: 500 !important; 
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-family: Arial, sans-serif ;
    font-weight: 900 !important; 
    background-color: #F5F5F7;
    padding-bottom: 1%;
    padding-top: 1%;
   
}




.customer-option {
    min-height: 350px; 
    min-width: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-align: center; 
    transition: transform 0.3s ease-in-out;
    margin-top: 1.5%;
}

.customer-option:hover {
    transform: scale(1.05);
}

/* Imagen dentro de cada cuadro */
.customer-image {
    width: 100%; 
    height: auto; 
    max-height: 255px;
    object-fit: contain;
}

/* Estilo para el texto debajo de las imágenes */
.customer-option p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
}
