/* PasswordForm.css */
.container-reset-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container-formulary{
    width: 55%;
    height: auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 20px;
    border-radius: 20px;
    font-size: 0.9em;
}

label{
    padding: 0px !important;
    color: #7B7B7B;
}

h3 {
    text-align: center; /* Centrar el título */
    margin-bottom: 30px;
    color: #333; /* Color del texto del título */
    font-weight: 900;
}

input[type="password"], input[type="number"] {
    border-radius: 9px; /* Bordes redondeados en los campos de entrada */
    margin-bottom: 30px;
    
}


.button-acept, .button-cancel {
    width: 40%; /* Botón ocupa el ancho completo */
    background-color: #000000; /* Color de fondo del botón */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
    border-radius: 11px;
}

.button-cancel {
    background-color: #7B7B7B; /* Color de fondo del botón */
}

.button-acept:hover {
    background-color: #292727; /* Color del botón al pasar el mouse */

}

.error-message {
    color: red; /* Color del mensaje de error */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centrar el mensaje de error */
    margin-top: 10px; /* Espacio superior */
}


/* quita los botones de aumentar y dismuir en los campos numericos*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
