


.title{
    padding-top:1% ;
}

label {
    padding-top: 10%;
    font-weight: bold;
}



.full-screen-scrollable {
    /* height: 100vh;  */
    overflow-y: auto; 
    /* padding: 10%;  */
    /* background-color: blue; */

}

.data {
    border: 1px solid rgb(234, 234, 234);
    margin: 2%; 
    border-radius: 4px; 
}
.content{
    height: 100vh; 
    padding: 2%;
    background-color: aquamarine;
    
  
}

.container-image {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 8px; 
    padding: 1%; 
    height: 50%; 
    background-color:rgb(234, 234, 234);
}
.profile-image {
    width: 100%; 
    height: 100%;
    object-fit: contain; /* Ajusta la imagen para que siempre sea visible en su totalidad */
    object-position: center; /* Centra la imagen en el contenedor */
    display: block; /* Elimina el espacio en blanco adicional */
    border-radius: 5%; /* Redondea ligeramente los bordes */
}