.title{
    height: auto;
    padding-top:1% ;
}

label {
    padding-top: 10%;
    font-weight: bold;
    color: black !important; /* Asegura que el color sea negro */
}


.full-screen-scrollable {
    overflow-y: auto; 
}

.data {
    border: 1px solid rgb(234, 234, 234);
    margin: 2%; 
    border-radius: 4px; 
}


.data label{
    color: rgb(0, 0, 0)!important;
}
.content{
    height: 100vh; 
    padding: 2%;
    background-color: rgb(255, 255, 255);
    
  
}

.container-image {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 8px; 
    padding: 1%; 
    height: 50%; 
    background-color:rgb(234, 234, 234);
}
.profile-image {
    width: 100%; 
    height: 100%;
    object-fit: contain; /* Ajusta la imagen para que siempre sea visible en su totalidad */
    object-position: center; /* Centra la imagen en el contenedor */
    display: block; /* Elimina el espacio en blanco adicional */
    border-radius: 5%; /* Redondea ligeramente los bordes */
    
}

.button-deta{
    display: flex; /* Habilita el sistema de flexbox */
    justify-content: flex-end; /* Empuja el botón hacia el final del contenedor */
    padding: 1% 4.1% 1%; 
}