

.input-container {
    display: flex; /* Cambia a flexbox */
    align-items: center;
    position: relative; /* Posiciona los elementos relativos entre sí */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    border: 1px solid #000000; 
    border-radius: 9px;
}



.table-container{
    border-radius: 20px !important;
    overflow: hidden; 
    width: auto;
    background-color: #ffffff;
    border: 1px solid #7B7B7B;
}
 





@media only screen and (max-width: 750px) {
    .General-Table{
        /* width: 96% ;
        margin-right: 10%; */
        padding: 20px !important;
        overflow: hidden !important;
    }

    .icon {    
        left: 10px;
        top: 30%;
        color: #aaa; /* Color del icono */
    }

    .heder-comp{
        /* margin-top: 10px;*/
        width: 100%;  
        align-items: center; /* Alinea los elementos a la izquierda */
        justify-content: center; 
      


    .form-control {
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
        font-size: 12px; /* El campo de búsqueda ocupa todo el ancho disponible */
        margin-bottom: 10px; /* Añade espacio debajo del campo de búsqueda */
    }




   

    h2{
        font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
        font-weight: 900; /* Hace que el texto sea muy grueso */
        text-align: center !important;
    }
    
}

.loading-overlay {
    position: fixed; /* Fija el overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////*/


.heder-comp{
    margin-top: 6px;
    display: flex; /* Cambia a flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
   /* Distribuye los elementos horizontalmente */
    width: 40%;
    height: 39px;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: #4c0000;
}


}




.title1 {
    padding: 10px 0 0 30px; 
}

.input-container {
    display: flex; /* Cambia a flexbox */
    align-items: center;
    border: 1px solid #000000; 
    border-radius: 9px;
    margin-top: 10px;
  

}


.icon {    
    top: 50%;
    color: #aaa;
    margin-left: 10px;
}

.form-control {
    flex-grow: 1; 
    outline: none;
    border: 'none' !important;
    outline: 'none' !important;
    outline: none !important; /* Elimina el outline predeterminado */
    box-shadow: 0 0 0px rgba(81, 203, 238, 1) !important; /* Agrega un efecto de sombra */
    border: 0px transparent rgba(81, 203, 238, 1) !important;  
}


.input-style {
    border: none;
    margin-left: -12px; 
    margin-right: 1px; 
    
}



.dropdown{
     background-color: #ffffff;
     color: #7B7B7D ;
     border-radius: 9px;
     border: solid 1px #000000;
     margin-top: 10px;
     width: 100%;
    
  /* Cambia a flexbox */
  
   
 }
 .dropdown-container{
    display: flex;
    border: 0px;
    align-items: center;
    position: relative !important;
    margin-right: 7px;
    margin-left: 1px;
 }




.button-Create{
    border-radius: 9px;
    background-color: #7B7B7D;
    
    border: none;
    margin-top: 10px;
   
    white-space: normal; /* Permitir que el texto se divida en varias líneas */
    overflow: hidden; /* Esconder cualquier texto que desborde */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto es demasiado largo */
    display: inline-block;
    height: 38px;
    width: 100%;
}

.table-container{
    border-radius: 20px !important;
    overflow: hidden; 
    background-color: #ffffff;
    border: 1px solid #7B7B7B;
}
 

