.userProfileCon{
  width: 98% !important;
  height: 100vh !important;
  display: grid;
  overflow-y: auto !important;



}
.form-containerPro{
  width: auto !important;
  height: 100% !important;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.title-component {
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;
 
  width: 100% !important;
  height: 100% !important;
  padding: 0px;
  margin: 0px;
}

.title-component h2 {
  text-align: left !important;
  align-items: right !important;
  width: 100% !important;
  background-color: #ffffff;
  height: auto !important;
  white-space: nowrap !important;
}

.nameUserPro,
.lastNameUserPro,
.typeIdentificationPro,
.numberIdentificationPro,
.emailPro,
.phoneNumberPro,
.addressPro,
.rolesPro,
.userStatusPro {
  /* margin-bottom: 18px; */
  border: 1px solid #a39f9f !important;
  margin-bottom: 19px;
  border-radius: 9px;
  height: 35px;
  width: 100% !important;
  background-color: rgb(255, 255, 255);
}

.addressPro {
  margin-top: 18px;
}

.nameUserPro .form-control,
.lastNameUserPro .form-control,
.numberIdentificationPro .form-control,
.emailPro .form-control,
.phoneNumberPro .form-control,
.addressPro .form-control {
  height: 100% !important;
  color: #7B7B7B !important;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  border: 0px !important;

}

.typeIdentificationPro .form-control,
.rolesPro .form-control,
.userStatusPro .form-control {
  height: 100% !important;
  font-size: 0.8em;
  margin: 0px 0px 0px 2px !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  /* Elimina el borde azul con prioridad */
  box-shadow: none !important;
  /* Elimina el efecto de sombra */
  border: 1px soloid #a39f9f !important;
  /* Puedes personalizar el borde si lo deseas */
}

.image-coponentPro {
  height: 61%;
}

.icon-containerPro {
  display: flex;
  align-items: center;
  position: relative !important;
  width: 100%;
  border-radius: 9px;
  margin-right: 9px;
}

.iconPro {
  margin-right: 15px;
}


/* Alinear botones con espacio entre ellos */


h2 {

  font-weight: 790;
  /* Hace que el texto sea muy grueso */
  text-align: left !important;
  margin-bottom: 30px;
  padding: none !important;
  height: 20px;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center !important;
  gap: 5% !important;
  
  /* Espacio por encima de los botones */

}



.button-cancel {
  background-color: #7B7B7B;
  border-radius: 11px;
  font-size: 15px;
  width: 45% !important;
}



.phoneNumberPro input[type="text"],
.numberIdentificationPro input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  padding-right: 0;
}

.numberIdentificationPro input::-webkit-outer-spin-button,
.numberIdentificationPro input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phoneNumberPro input::-webkit-outer-spin-button,
.phoneNumberPro input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Color y comportmiento del mouse cuano estan desactivados los campos*/
.input-disabled {
  background-color: #f7f7f7 !important;
  /* Color de fondo para campos inactivos */
  color: #a0a0a0;
  /* Color del texto para campos inactivos */
  border: 1px solid #dcdcdc;
  /* Color del borde para campos inactivos */
  cursor: not-allowed;
  /* Cambia el cursor para indicar que no se puede interactuar */
}

@media only screen and (max-width: 574px) {
  .form-containerPro {
    
    padding: 8px;
    overflow-x: visible !important;
  }

  .nameUserPro,
  .lastNameUserPro,
  .typeIdentificationPro,
  .numberIdentificationPro,
  .emailPro,
  .phoneNumberPro,
  .addressPro,
  .rolesPro,
  .userStatusPro {
    /* margin-bottom: 18px; */
    border: 1px solid #a39f9f !important;
    margin-bottom: 14px;
    border-radius: 9px;
    height: 35px;
    background-color: rgb(255, 255, 255);
  }

  .rolesPro{
    margin-bottom: -30px;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: center !important;
    gap: 5% !important;
  }
  .address {
    height: 31px;
    margin-top: 10px;
  }
  .nameUser .form-control,
  .lastNameUser .form-control,
  .numberIdentification .form-control,
  .email .form-control,
  .phoneNumber .form-control,
  .address .form-control {
    margin-top: 20px;
    border: 0px !important;
    height: 100% !important;
    margin: 0px !important;
  }

  

  .image-coponentPro {
    height: 40% !important;
  }

  .button-register {
    font-size: 14px;

  }

  .button-no-register {
    font-size: 14px;
  }
}

/*    css para el dezplazamiento de los labels en los campos en qe sescribe*/
.floating-labelPro {
  position: relative;
  white-space: nowrap !important;
}

.floating-labelPro input {
  width: 99%;
  padding: 2px 10px 0px 10px !important;
  /* Padding superior para hacer espacio a la etiqueta */
  font-size: 13px !important;
  border: 0px solid transparent !important;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: transparent;
  /* Fondo transparente para evitar solapamiento */
}

.floating-labelPro label {
  position: absolute;
  top: 7px ;
  /* La posición inicial de la etiqueta */
  left: 10px ;
  font-size: 13px ;
  margin-right: 20px;
  color: #7B7B7B;
  pointer-events: none;
  /* Desactiva la interacción con el label */
  transition: 0.2s ease all !;
  background-color: white;
  /* Fondo blanco para evitar solapamientos visuales */
  padding: 0 5px !important ;
}

.floating-labelPro input:focus+label,
.floating-labelPro input:not(:placeholder-shown)+label {
  top: -8px;
  /* Mueve la etiqueta hacia arriba cuando se escribe o está enfocado */
  left: 5px;
  font-size: 12px;
  color: #383535;
  border-radius: 50px;
}

/*   
}


/* .floating-label input:focus {
   border-color: #ece9e9; 
} */

/*Configuracion del color que pone en el navegador al hacer autorrellenado de los campos*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* Fondo blanco */
  -webkit-text-fill-color: #858080 !important;
  /* Color del texto */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #aaa !important;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #807777 !important;
}