.title{
    font-family: Arial, sans-serif ;
    font-weight: 900 !important; 
}

.button-Custom{
    border-radius: 9px;
    background-color: #7B7B7D;
    border: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;  /* Asegura que el texto dentro del botón esté centrado */
    padding: 8px; 
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis; 
}

.button-Custom:hover{
    background-color: #000000 !important;

}

.button-confirmationn {
  background-color: #7B7B7B;
  border-radius: 11px;
  font-size: 15px;
  width: 45%;
  height: 35px;
 
  display: flex; /* Activo Flexbox */
  justify-content: center; /* Centro horizontalmente */
  align-items: center; /* Centro verticalmente */
}

  
  .button-confirmationn:hover {
    /* background-color: #7B7B7B !important; */
    background-color: #000000 !important;; 
  }

  .button-cancell {
    background-color: #7B7B7B;
    border-radius: 11px;
    font-size: 15px;
    width: 45% !important;
   
    height: 35px;
 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  

  .button-cancell:hover {
    background-color: #000000 !important;
  }

  .button-clean{
    /* background-color: #6c757d; */
    background-color: #898a8a;
    border-radius: 11px;
    font-size: 15px;
    width: 45% !important;
   
    height: 35px;
 
    display: flex; 
    justify-content: center; 
    align-items: center; 

  }

  .button-clean:hover {
    background-color: #000000 !important;
  }

