.General-Table {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}


.heder-comp{
    display: flex; /* Cambia a flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
   /* Distribuye los elementos horizontalmente */
    width: 40%;
    margin-bottom: 20px;
    
    background-color: #ffffff;
}
.filter-bu{
    display: flex; /* Cambia a flexbox para alinear los elementos en una fila */
    align-items: center;
    justify-content: flex-end; /* Alinea verticalmente los elementos */
    width: 60%; /* Asegúrate de que ocupe todo el ancho */
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    
}

h2{
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-weight: 900; /* Hace que el texto sea muy grueso */
}

.form-control {
    flex-grow: 1; 
    outline: none;
    border: 'none' !important;
    outline: 'none' !important;
    outline: none !important; /* Elimina el outline predeterminado */
    box-shadow: 0 0 0px rgba(81, 203, 238, 1) !important; /* Agrega un efecto de sombra */
    border: 0px transparent rgba(81, 203, 238, 1) !important;  
}

.input-container {
    display: flex; /* Cambia a flexbox */
    align-items: center;
    position: relative; /* Posiciona los elementos relativos entre sí */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    border: 1px solid #000000; 
    border-radius: 9px;
    margin-right: 9px;
}



.table-container{
    margin-left: 1%;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden; 
}
 /* background-color: red; */
.button-Create{
    border-radius: 9px;
    background-color: #aa8b8b;
    min-width: 150px;
    height: 38px;
    font-size: auto;
    margin-left: 20px;
    border: none;
    height: auto;
   
    
}

.desplegable .dropdown-toggle{
   border-radius: 9px;
    margin-left: -4px;
    background-color: #ffffff;
    color: #000000 ;
    border: solid 1px #000000;
    float: right;
}

.dropdown-item-light {
    font-weight: lighter; /* Peso de la fuente más ligero */
    color: rgba(110, 124, 116, 0.767); /* Color de la fuente más claro */
}

.icon {    
    left: 10px;
    top: 50%;
    color: #aaa; /* Color del icono */
}

@media only screen and (max-width: 767px) {
    .General-Table{
        width: 100%;
        overflow: hidden !important;
    }

    .input-container {
        margin-left: 8px;
       height: 38px;
    }

    .icon {    
        left: 10px;
        top: 30%;
        color: #aaa; /* Color del icono */
    }

    .heder-comp{
        margin-top: 10px;
        width: 100%; /* Ajusta el ancho según sea necesario */
        align-items: center; /* Alinea los elementos a la izquierda */
        justify-content: center; 
      
    }
    .filter-bu {
        width: 100%;
        align-items: center; /* Asegura que los elementos se ajusten al 100% del ancho */
    }

    .form-control {
        margin-top: 10px;
        width: 100%;
        font-size: 12px; /* El campo de búsqueda ocupa todo el ancho disponible */
        margin-bottom: 10px; /* Añade espacio debajo del campo de búsqueda */
    }
    .selec-option{
        font-size: 10px !important;
    }
    .desplegable{
        margin-right: -13px;
    }

    .button-Create {
        flex-direction: column;
        width: 1vw !important;
        margin-right: 5px;
        font-size: 11px;
 
       /* Menú desplegable y botón también ocupan todo el ancho */
    }

    h2{
        font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
        font-weight: 900; /* Hace que el texto sea muy grueso */
        text-align: center !important;
    }
    
}

.loading-overlay {
    position: fixed; /* Fija el overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }

/* .General-Table .btn-primary:hover {
    background-color: #5A6268;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
}

thead {
    background-color: #E9ECEF;
    text-align: left;
}

thead th {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #495057;
    border-bottom: 2px solid #DEE2E6;
}

tbody tr {
    border-bottom: 1px solid #DEE2E6;
}

tbody td {
    padding: 15px;
    font-size: 14px;
    color: #495057;
}

tbody tr:hover {
    background-color: #F1F3F5;
}

tbody td:first-child {
    width: 50px;
    text-align: center;
}


tbody td:first-child::before {
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #6C757D;
    display: inline-block;
    padding: 8px;
    background-color: #F1F3F5;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .General-Table .btn-primary {
        width: 100%;
        margin-bottom: 10px;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        background-color: white;
        padding: 10px;
    }

    table tbody td {
        display: block;
        padding: 10px;
        text-align: right;
        font-size: 14px;
        border-bottom: none;
    }

    table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        text-transform: uppercase;
        font-size: 12px;
        color: #6C757D;
    }

    tbody td:first-child {
        text-align: center;
    }

    tbody td:first-child::before {
        content: "\f055";
    }
*/

