.General-Table {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}
.heder-comp{
    width: 30%;
    margin-left: 10px;
    align-items: right;
    background-color: #ffffff;
    /* background-color: blue; */
   
}
.filter-bu{
    width: 69%;
    margin-top: 6px;
    align-items: right;
    background-color: rgb(255, 255, 255);
}

h2{
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-weight: 900; /* Hace que el texto sea muy grueso */
}

.form-control {
    
    max-width: 60%;  /* Asegura que el botón no crezca más allá del 100% del contenedor padre */
    flex-grow: 1; /* Permite que el botón crezca */
    flex-shrink: 1; /* Permite que el botón se encoja si es necesario */
    flex-basis: auto ;
    min-width: 0px ;
    align-items: right ;
} 

.table-container{
    margin-left: 1%;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden; 
}
 /* background-color: red; */
.button-Create{
    background-color: #aa8b8b;
    margin-top: -38px;
    float: right;
    border: none;
    margin-right: 20px;
    
}

.desplegable .dropdown-toggle{
    margin-top: -38px;
    margin-right: 180px;
    background-color: #ffffff;
    color: #000000 ;
    border: solid 0.5px #d4cece;
    float: right;
}

.dropdown-item-light {
    font-weight: lighter; /* Peso de la fuente más ligero */
    color: rgba(110, 124, 116, 0.767); /* Color de la fuente más claro */
}

@media only screen and (min-width: 768px) and (max-width: 1292px) {

    .heder-comp{
        width: 40%;
        margin-left: 10px;
        align-items: right;
 
        
        /* background-color: blue; */
       
    }
    .desplegable{
        width: 10px !important;
        
        float: right !important;
        background-color: #ffffff;
    }
    .filter-bu{
        width: 58%;
        margin-top: 6px;
        align-items: right;
        position: relative;
    }
    .form-control {
 
        width: 40%  !important;
        max-width: 60vw !important; /* Asegura que el botón no crezca más allá del 100% del contenedor padre */ 
        margin-right: -50px !important;
        float: center !important;
    } 
    .button-Create{
   
        margin-right: 1px !important;
        
    }

}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
    .form-control { 
        width: 35%  !important;
        max-width: 60vw !important; /* Asegura que el botón no crezca más allá del 100% del contenedor padre */ 
        margin-right: -50px !important;
        float: center !important;
    } 
}
@media only screen and (min-width: 768px) and (max-width: 952px) {
    .form-control { 
        width: 25%  !important;
        max-width: 60vw !important; /* Asegura que el botón no crezca más allá del 100% del contenedor padre */ 
        margin-right: -50px !important;
        float: center !important;
    } 
}



@media only screen and (max-width: 767px) {
    .General-Table{
        width: 100%;
        overflow: hidden !important;
    }
    .heder-comp{
        width: 95%; /* Ajusta el ancho según sea necesario */
        align-items: left; /* Alinea los elementos a la izquierda */
        justify-content: left; 
      
    }
    .table-container{
        width: 100%;
        margin-left: 2%;
    }
    .form-control {
        height: 37px !important; /* Asegura que el botón no crezca más allá del 100% del contenedor padre */
        width: 31vw  !important;
        max-width: 60vw !important; /* Asegura que el botón no crezca más allá del 100% del contenedor padre */
        margin-left: 8px !important;
    } 

    .filter-bu{
        width: 100% ;
        align-items: center;
        margin-top: 15px;
    }
    .button-Create{
        height: 36px;
        margin-right: 5px;
        margin-left: 0px !important;
        font-size: 12px;
        background-color: #aa8b8b;
        border: none;
    }
    .desplegable .dropdown-toggle{
        margin-right: 32vw !important;
        font-size: 12px;
        height: 36px;
    }

    h2{
        font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
        font-weight: 900; /* Hace que el texto sea muy grueso */
        text-align: center;
    }
    
}

.loading-overlay {
    position: fixed; /* Fija el overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }

/* .General-Table .btn-primary:hover {
    background-color: #5A6268;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
}

thead {
    background-color: #E9ECEF;
    text-align: left;
}

thead th {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #495057;
    border-bottom: 2px solid #DEE2E6;
}

tbody tr {
    border-bottom: 1px solid #DEE2E6;
}

tbody td {
    padding: 15px;
    font-size: 14px;
    color: #495057;
}

tbody tr:hover {
    background-color: #F1F3F5;
}

tbody td:first-child {
    width: 50px;
    text-align: center;
}


tbody td:first-child::before {
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #6C757D;
    display: inline-block;
    padding: 8px;
    background-color: #F1F3F5;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .General-Table .btn-primary {
        width: 100%;
        margin-bottom: 10px;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        background-color: white;
        padding: 10px;
    }

    table tbody td {
        display: block;
        padding: 10px;
        text-align: right;
        font-size: 14px;
        border-bottom: none;
    }

    table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        text-transform: uppercase;
        font-size: 12px;
        color: #6C757D;
    }

    tbody td:first-child {
        text-align: center;
    }

    tbody td:first-child::before {
        content: "\f055";
    }
*/

