.General-Table {
    background-color: #ffffff;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 8px !important;
 
}
.heder-comp{
    margin-top: 6px;
    display: flex; /* Cambia a flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
   /* Distribuye los elementos horizontalmente */
    width: 40%;
    height: 38px;
    justify-content: flex-start;
    margin-bottom: 20px;

    background-color: #ffffff;
}
.title{
    height: 100%;
    background-color: #ffffff;
}
.filter-search{
    display: flex; /* Cambia a flexbox para alinear los elementos en una fila */
    align-items: center;
    justify-content: flex-end; /* Alinea verticalmente los elementos */
    width: 60%; /* Asegúrate de que ocupe todo el ancho */
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    color: #7B7B7B
    
}

h2{
    font-family: Arial, sans-serif !important; /* Cambia la fuente a Arial */
    font-weight: 900 !important; /* Hace que el texto sea muy grueso */
}

.form-control {
    flex-grow: 1; 
    outline: none;
    border: 'none' !important;
    outline: 'none' !important;
    outline: none !important; /* Elimina el outline predeterminado */
    box-shadow: 0 0 0px rgba(81, 203, 238, 1) !important; /* Agrega un efecto de sombra */
    border: 0px transparent rgba(81, 203, 238, 1) !important;  
}

.input-container {
    display: flex; /* Cambia a flexbox */
    align-items: center;
    position: relative; /* Posiciona los elementos relativos entre sí */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    border: 1px solid #000000; 
    border-radius: 9px;

}



.table-container{
    border-radius: 20px !important;
    overflow: hidden; 
    background-color: #ffffff;
    border: 1px solid #7B7B7B;
}
 /* background-color: red; */
.button-Create{
    border-radius: 9px;
    background-color: #7B7B7D;
    min-width: 150px;
    height: 100% !important;
    font-size: auto;
    margin-left: 20px;
    border: none;
    height: auto;
   
    
}

.desplegable .dropdown-toggle{
   border-radius: 9px;
 
    background-color: #ffffff;
    color: #7B7B7D ;
    border: solid 1px #000000;
    float: right;
}

.dropdown-item-light {
    font-weight: lighter; /* Peso de la fuente más ligero */
    color: rgba(110, 124, 116, 0.767); /* Color de la fuente más claro */
}

.icon {    
    left: 10px;
    top: 50%;
    color: #aaa; /* Color del icono */
}

@media only screen and (max-width: 995px) {
    .General-Table{
        /* width: 96% ;
        margin-right: 10%; */
        padding: 20px !important;
        overflow: hidden !important;
    }

    .input-container {
        height: 38px;
    }

    .icon {    
        left: 10px;
        top: 30%;
        color: #aaa; /* Color del icono */
    }

    .heder-comp{
        /* margin-top: 10px;*/
        width: 100%;  
        align-items: center; /* Alinea los elementos a la izquierda */
        justify-content: center; 
      
    }
    .filter-search {
        width: 100%;
        align-items: center; /* Asegura que los elementos se ajusten al 100% del ancho */
    }

    .form-control {
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
        font-size: 12px; /* El campo de búsqueda ocupa todo el ancho disponible */
        margin-bottom: 10px; /* Añade espacio debajo del campo de búsqueda */
    }

    .desplegable .dropdown-toggle{
        font-size: 12px !important;
        height: 38px;
    }

    .button-Create { 
        width: 10px !important;
        height: 100%;
        min-width: 80px;
        font-size: 12px;
        line-height: 1;
 
       /* Menú desplegable y botón también ocupan todo el ancho */
    }
   

    h2{
        font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
        font-weight: 900; /* Hace que el texto sea muy grueso */
        text-align: center !important;
    }
    
}

.loading-overlay {
    position: fixed; /* Fija el overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}