
.floating-label {
  position: relative;
  margin-bottom: 30px; 
  /* background-color: rgb(17, 0, 78);  */
}


/* Estilos para el campo de entrada */
.floating-label input {
  width: 100% ;
  padding: 18px 10px 5px 10px;
  font-size: 13px;
  /* border: 0px solid transparent !important; */
  border-radius: 10px !important;
  /* outline: none !important; */
  transition: border-color 0.3s ease;
  background-color: transparent; /* Fondo transparente */
}



.nameUser 
.form-control,
.lastNameUser 
.form-control,
.numberIdentification 
.form-control,
.email 
.form-control,
.phoneNumber 
.form-control,
.address .form-control,
.typeIdentificationUser 
.form-control,
.roles 
.form-control {
  font-size: 13px !important;
  height: 100%;
  color: #7B7B7B !important;
  margin-left: 2px;
  border: 0px !important;
  font-weight: 700 !important;
  /* background-color: tomato;  */
  margin: 2px 0 2px 0;
  border: 1px solid #a39f9f !important;
  border-radius: 9px;
  height: 35px !important;
}




/* Estilos para el label (por defecto) */
.floating-label label {
  position: absolute ;
  top: 11px;
  left: 20px ;
  font-size: 13px ;
  margin-right: 20px ;
  color: #7B7B7B ;
  pointer-events: none ;
  transition: 0.2s ease all;
  background-color: white ;
  padding: 0 5px !important;
  white-space: nowrap !important;
  background-color: transparent;
}


.floating-label input:focus+label,
.floating-label input:not(:placeholder-shown)+label {
  top: 4px  !important;
  left: 18px !important;
  font-size: 10px !important;
  color: #383535 !important;
  background-color: transparent;
  
}


.image-coponent {
  /* height: 34.4vh; 34.4% de la altura del viewport */
  height: 315px; 
  margin-bottom: 30px;
}


/* Contenedor del select e ícono */
.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9px;
  margin-right: 9px;
  cursor: pointer; /* Asegura que el contenedor sea clickeable */
}

/* Estilo del ícono */
.icon-selector {
  position: absolute;
  right: 10px; /*Posiciona el ícono a 10px del borde derecho*/
  top: 50%;/* Centra verticalmente el ícono*/
  transform: translateY(-50%); /*Ajusta el punto de referencia del ícono para centrarlo*/
  color: #7B7B7B; /*Color del ícono*/
  pointer-events: none; /*Evita que el ícono interfiera con clics*/
  font-size: 14px; /*Tamaño del ícono*/
}

.icon {
  margin-right: 15px;
  pointer-events: none; /*Evita que el ícono interfiera con clics*/
}

.button-group {
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Alinea los botones verticalmente */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio superior opcional */
}
