.container-equipment-update{
    width: 100% !important;
    height: 100vh;
    display: grid;
    justify-items: center;
    overflow-y: auto !important;
  
 
}
.container-form-update-equipment{
    display: grid;
    width: 60%!important;
    align-content: center;
    padding: 10px;
}


.floating-label-equipment> :nth-child(1) {
    /* Esto aplicará al primer hijo de `floating-label-equipment`, suponiendo que es `Form.Group` */
    margin-bottom: 20px;
    height: 35px !important;
    border: 1px solid #a39f9f !important;
    border-radius: 9px;
}

.floating-label-equipment> :nth-child(1)> :nth-child(1) {
    height: 100% !important;
    padding: 3px 0px 0px 14px !important;

}

.modelNumber {
    margin-top: 19px;
    margin-bottom: 0px !important;
}

.image-equipment {
    height: 73%;
}

.equipmentType .form-control {
    height: 100% !important;
    padding: 0px 11px !important;
    width: 100% !important;
    font-size: 0.8em;
    font-weight: 600 !important;
    color: #7B7B7B !important;

}

.icon-dropdown-equipment {
    position: absolute;
    right: 0px;
    top: -2px;
    left: -12px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*    css para el dezplazamiento de los labels en los campos en qe sescribe*/
.floating-label-equipment {
    position: relative;

}
.floating-label-equipment{
    white-space: nowrap;
}

.floating-label-equipment input {
    width: 99%;
    padding: 2px 10px 0px 10px !important;
    /* Padding superior para hacer espacio a la etiqueta */
    font-size: 13px !important;
    border: 0px solid transparent !important;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
    /* Fondo transparente para evitar solapamiento */
}

.floating-label-equipment label {
    position: absolute;
    top: 7px;
    /* La posición inicial de la etiqueta */
    left: 10px !important;
    font-size: 13px;
    margin-right: 20px;
    color: #7B7B7B !important;
    pointer-events: none;
    /* Desactiva la interacción con el label */
    transition: 0.2s ease all !;
    background-color: white;
    /* Fondo blanco para evitar solapamientos visuales */
    padding: 0 5px !important;
}

.floating-label-equipment input:focus+label,
.floating-label-equipment input:not(:placeholder-shown)+label {
    top: -8px;
    /* Mueve la etiqueta hacia arriba cuando se escribe o está enfocado */
    left: 5px;
    font-size: 12px;
    color: #383535;
    border-radius: 50px;
}

.button-group-equipment-update button{
    width: 50% !important;
    height: 90% !important;
}
.button-group-equipment-update{
    width: 100% !important; 
    display: flex;
    gap: 5% !important;

}
@media only screen and (max-width: 800px) {
    .container-equipment-update{
        overflow-x: visible !important;
        height: 80vh !important;
    }
    .container-form-update-equipment{
        width: 100% !important;
        
    }
}

@media only screen and (max-width: 575px) {
    .button-group-equipment-update{
        margin-top: 50px;
    }
    .button-confirmation {
        font-size: 14px !important;

    }

    .button-cancel {
        font-size: 14px;
    }

    .container-equipment-update{
        overflow-x: visible !important;
    }
    .container-form-update-equipment{
        width: 100% !important;
        
    }
}